.about {
    padding: 100px 0 50px 0;
}

.about__title {
    margin-bottom: 40px;
}

.about__box {
    display: grid;
    gap: 48px 80px;
    grid-template-areas: 
    'one two'
    'one three';
}

.about__image {
    grid-area: one;
    object-fit: cover;
}

.about__text {
    grid-area: two;
    max-width: 500px;
    display: inline-block;
}

.about__description {
    white-space: pre-line;
}

.about__description:not(:last-child) {
    margin-bottom: 28px;
    white-space: pre-line;
}

.quote {
    grid-area: three;
    display: flow-root;
    max-width: 500px;
    position: relative;
    margin: 0;
    padding: 0 0 0 31px;
}

.quote__text {
    font-weight: 400;
    font-size: 44px;
    line-height: 50px;
    text-transform: uppercase;
    margin-bottom: 40px;
    white-space: pre-line;
}

.quote__text::before {
    content: "“";
    font-weight: 900;
    color:  #6c0287;
    position: absolute;
    left: 0;
    top: -8px;
}

.quote__text::after {
    content: " ”";
    font-weight: 900;
    color: #6c0287;
}

.quote__cite {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-transform: none;
    white-space: pre-line;
    display: inline-block;
    max-width: 280px;
}

.quote__subtitle {
    float: right;
}

.quote__img {
    width: 80px;
    height: 80px;
    border-radius: 45px;
    vertical-align: bottom;
    margin-right: 30px;
}


@media (max-width: 1024px) {
    .about {
        padding: 70px 0 35px 0;
    }

    .about__title {
        margin-bottom: 26px;
    }

    .about__box {
        gap: 26px 40px;
    }
    
    .about__image {
        width: 420px;
        height: 417px;
    }
    
    .about__text {
        font-size: 18px;
        line-height: 24px;
    }
    
    .about__description {
        font-size: 18px;
        line-height: 24px;
        white-space: pre-line;
    }
    
    .about__description:not(:last-child) {
        margin-bottom: 28px;
        white-space: pre-line;
    }
    
    .quote {
        display: flow-root;
        max-width: 500px;
        position: relative;
        margin: 0;
        padding: 0 0 0 31px;
    }
    
    .quote__text {
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 13px;
        white-space: pre-line;
    }
    
    .quote__text::before {
        content: "“";
        font-weight: 900;
        color: #6c0287;
        position: absolute;
        left: 0;
        top: -8px;
    }
    
    .quote__text::after {
        content: " ”";
        font-weight: 900;
        color: #6c0287;
    }
    
    .quote__cite {
        font-style: normal;
        font-size: 18px;
        line-height: 26px;
        text-transform: none;
        white-space: pre-line;
        display: inline-block;
        max-width: 225px;
    }
    
    .quote__subtitle {
        float: right;
    }
    
    .quote__img {
        width: 70px;
        height: 70px;
        border-radius: 45px;
        vertical-align: bottom;
        margin-right: 35px;
    }
}

@media (max-width: 768px) {
    .about {
        padding: 60px 0 30px 0;
    }

    .about__title {
        margin-bottom: 30px;
    }
    
    .about__image {
        /* margin-right: 40px; */
        width: 382px;
        height: 380px;
    }
    
    .about__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 278px;
    }

    .about__box {
        gap: 30px 28px;
        grid-template-areas: 
        'one two'
        'three three';
    }
    
    .about__description {
        font-size: 16px;
        line-height: 22px;
        white-space: normal;
    }
    
    .about__description:not(:last-child) {
        margin-bottom: 28px;
        white-space: normal;
    }
    
    .quote {
        display: flow-root;
        max-width: 666px;
        position: relative;
        margin: 0;
        padding: 0 0 0 31px;
    }
    
    .quote__text {
        font-weight: 400;
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 22px;
        white-space: normal;
    }
    
    .quote__text::before {
        content: "“";
        font-weight: 900;
        color: #6c0287;
        position: absolute;
        left: 0;
        top: -8px;
    }
    
    .quote__text::after {
        content: " ”";
        font-weight: 900;
        color: #6c0287;
    }
    
    .quote__cite {
        font-size: 18px;
        line-height: 26px;
        text-transform: none;
        white-space: pre-line;
        display: inline-block;
        max-width: 225px;
    }
    
    .quote__subtitle {
        float: right;
    }
    
    .quote__img {
        width: 70px;
        height: 70px;
        border-radius: 45px;
        vertical-align: bottom;
        margin-right: 25px;
    }
}

@media (max-width: 480px) {
    .about {
        padding: 30px 0 15px 0;
    }
    
    .about__title {
        margin-bottom: 15px;
    }
    
    .about__image {
        width: 280px;
        height: 280px;
    }
    
    .about__text {
        margin-bottom: 0;
        max-width: 280px;
    }

    .about__box {
        grid-template-areas: 
        'two'
        'one'
        'three';
        gap: 15px;
    }
    
    .about__description {
        font-size: 12px;
        line-height: 16px;
        white-space: normal;
    }
    
    .about__description:not(:last-child) {
        margin-bottom: 16px;
        white-space: normal;
    }
    
    .quote {
        padding: 0 0 0 15px;
    }
    
    .quote__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 13px;
    }
    
    .quote__text::before {
        content: "“";
        font-weight: 900;
        color: #6c0287;
        position: absolute;
        left: 0;
        top: -8px;
    }
    
    .quote__text::after {
        content: " ”";
        font-weight: 900;
        color:  #6c0287;
    }
    
    .quote__cite {
        font-size: 12px;
        line-height: 16px;
        text-transform: none;
        white-space: pre-line;
        display: inline-block;
        max-width: 225px;
    }
    
    .quote__subtitle {
        display: flex;
    }
    
    .quote__img {
        width: 56px;
        height: 56px;
        border-radius: 45px;
        vertical-align: bottom;
        margin-right: 11px;
    }
}