.banner {
    padding: 25px 0 50px 0;
}

.banner__wrapper {
    position: relative;
    padding-bottom: 30px;
}

.banner__content {
    margin-bottom: 124px;
}

.banner__subtitle {
    font-size: 28px;
    line-height: 50px;
    padding-left: 100px;
    margin-bottom: 30px;
}

.banner__title {
    font-size: 150px;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.1em;
    text-align: left;
    margin-bottom: 0;
}

.banner__wrapper::after {
    display: block;
    content: "";
    background-image: url("../image/banner/vr.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 675px;
    /* max-width: calc(675 / 1440 * 100vw); */
    /* max-width: 46vw; */
    height: 762px;
    max-height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.banner__row {
    display: flex;
    max-height: 209px;
    gap: 40px;
    margin-bottom: 150px;
    align-items: flex-end;
}

.banner__column {
    display: flex;
    flex-direction: column;
    text-align: center;
    white-space: pre-line;
}

.banner__number {
    font-weight: 900;
    font-size: 100px;
    line-height: 141px;
    color: #cd06ff;
}

.banner__purple {
    font-weight: 900;
    font-size: 75px;
    line-height: 106px;
    font-variant: small-caps;
    color:  #cd06ff;
}

.banner__text {
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    color: #fff;
}

.banner__button {
    display: inline-block;
    padding: 25px 69px;
    border: 0;
    border-radius: 10px;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    background: #6c0287;
    transition: background 0.3s ease-in;
}

.banner__button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: #6c0287;
    filter: blur(10px);
    border-radius: 10px;
}

.banner__button:hover, .banner__button:focus {
    background: #840AA3;
    border-radius: 10px;
}

.banner__button:active {
    background: #640aa3;
    border-radius: 10px;
}

.banner__arrow {
    display: block;
    margin: 0 auto;
    z-index: 3;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 11%;
    background-image: url("../image/banner/down.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 97px;
    height: 97px; 
    outline: 1px solid transparent;
    transition: background 0.3s ease-in;
}

.banner__arrow:hover {
    background-image: url("../image/banner/down-hover.svg");
}

.banner__arrow:focus {
    background-image: url("../image/banner/down.svg");
    outline-color: #cd06ff;
}

.banner__arrow:active {
    background-image: url("../image/banner/down-active.svg");
}

@media (max-width: 1200px) {
    .banner__content {
        margin-bottom: 35px;
    }

    .banner__arrow {
        width: 77px;
        height: 77px; 
    } 
}

@media (max-width: 1075px) {
    .banner {
        padding: 15px 0 41px 0;
    }
    
    .banner__wrapper {
        /* min-height: 583px; */
        white-space: nowrap;
    }
    
    /* 
    .banner__content {
        padding-bottom: 66px;
    } */
    
    .banner__subtitle {
        font-size: 22px;
        line-height: 30px;
        padding-left: 100px;
    }
    
    .banner__title {
        font-size: 120px;
        margin-bottom: 20px;
    }

    .banner__wrapper::after {
        /* max-width: calc(453 / 1065 * 100vw); */
        /* max-width: 50vw; */
        width: 453px;
        height: 520px;
        max-height: 100%;
    }
    
    .banner__row {
        margin-bottom: 80px;
    }
    
    .banner__number {
        font-size: 80px;
        line-height: 113px;
    }
    
    .banner__purple {
        font-size: 60px;
        line-height: 85px;
    }
    
    .banner__text {
        font-size: 26px;
        line-height: 30px;
    }
    
    .banner__button {
        padding: 17px 48px;
        border-radius: 10px;
        font-size: 22px;
        line-height: 30px;
        margin-left: 30px;
    }
    
    .banner__arrow {
        width: 67px;
        height: 67px; 
        bottom: 8%;
    } 
}

@media (max-width: 910px) {
    .banner__button {
        padding: 11px 34px;
        border-radius: 4px;
        font-size: 16px;
        line-height: 24px;
        margin-left: 0;
    }
}

@media (max-width: 780px) {
    .banner {
        padding: 15px 0 40px 0;
    }

    .banner__content {
        margin-bottom: 70px;
    }
    
    .banner__subtitle {
        font-size: 18px;
        line-height: 24px;
        padding-left: 60px;
        margin-bottom: 50px;
    }
    
    .banner__title {
        font-size: 86px;
        line-height: 100%;
        white-space: nowrap;
        margin-bottom: 20px;
    }

    .banner__wrapper::after {
        width: 409px;
        height: 479px;
        max-height: 100%;
    }
    
    .banner__row {
        gap: 30px;
        margin-bottom: 100px;
    }
    
    .banner__number {
        font-size: 50px;
        line-height: 71px;
    }
    
    .banner__purple {
        font-size: 40px;
        line-height: 56px;
    }
    
    .banner__text {
        font-size: 16px;
        line-height: 18px;  
    }
    
    .banner__arrow {
        display: none;
    } 
}

@media (max-width: 680px) {
    .banner__title {
        font-size: 69px;
    }

    .banner__content {
        margin-bottom: 40px;
    }

    .banner__wrapper::after {
        width: 46vw;
    }

    .banner__subtitle {
        margin-bottom: 20px;
    }

    .banner__row {
        gap: 20px;
        margin-bottom: 40px;
    }

    .banner__button {
        padding: 8px 13px;
        font-size: 10px;
        line-height: 12px;
    }
}

@media (max-width: 480px) {
    .banner {
        padding: 10px 0 23px 0;
    }
    
    .banner__wrapper {
        padding-bottom: 1px;
    }
    
    .banner__subtitle {
        font-size: 10px;
        line-height: 14px;
        padding-left: 20px;
        margin-bottom: 10px;
    }

    .banner__content {
        margin-bottom: 23px;
    }
    
    .banner__title {
        font-size: 35px;
        line-height: 100%;
        letter-spacing: -0.08em;
        white-space: nowrap;
        margin-bottom: 6px;
    }
    
    .banner__wrapper::after {
        width: 161px;
        height: 179px;
    }
    
    .banner__row {
        gap: 20px;
        margin-bottom: 30px;
    }
    
    .banner__number {
        font-size: 26px;
        line-height: 37px;
    }
    
    .banner__purple {
        font-size: 22px;
        line-height: 31px;
    }
    
    .banner__text {
        font-size: 10px;
        line-height: 11px;
    }
}