.contacts {
    background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.contacts__title {
    margin-bottom: 40px;
}

.contacts__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 145px;
}

.address {
    margin-bottom: 39px;
}

.address__text {
    font-style: normal;
    white-space: pre-line;
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
}

.address__location {
    margin-bottom: 38px;
}

.address__mobile {
    margin-bottom: 11px;
}

.address__image {
    margin-right: 30px;
}

.address__link {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease-in;
}

.address__link:hover {
    color:  #eadeed;
}

.address__link:focus, .footer__link:active {
    color:  #cd06ff;
}

.social {
    list-style: none;
    font-size: 0;
}

.social__item {
    display: inline-block;
    margin-right: 26px;
}

.social__item:last-child {
    margin-right: 0;
}

.social__link {
    display: block;
    color:  #fff;
    outline: 1px solid transparent;
    transition: color 0.3s ease-in;
}

.social__link:hover {
    color: #eadeed;
}

.social__link:focus {
    outline-color: #cd06ff;
    color: #eadeed;
}

.social__link:active {
    color: #cd06ff;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.map {
    height: auto;
    width: 100%;
    max-width: 680px;
}

.footer__link {
    color: #fff;
    transition: color 0.3s ease-in;
}

.footer__link:hover {
    color: #eadeed;
}

.footer__link:focus, .footer__link:active {
    color: #cd06ff;
}

.footer__mail {
    color: #fff;
    transition: color 0.3s ease-in;
}

.footer__mail:hover {
    color: #eadeed;
}

.footer__mail:focus, .footer__mail:active {
    color:  #cd06ff;
}

@media (max-width: 1024px) { 
    .contacts__title {
        margin-bottom: 26px;
    }
    
    .contacts__row {
        margin-bottom: 92px;
    }
    
    .address {
        margin-bottom: 39px;
    }
    
    .address__location {
        margin-bottom: 38px;
    }
    
    .address__mobile {
        margin-bottom: 8px;
    }
    
    .address__image {
        width: 26px;
        height: 26px;
        margin-right: 13px;
    }
    
    .map {
        max-width: 542px;
        max-height: 274px;
    }
    
    .social__link {
        width: 40px;
        height: 40px;
        display: block;
    }
}

@media (max-width: 945px) {
    .map {
        max-width: 450px;
    }
}

@media (max-width: 804px) {
    .contacts__title {
        margin-bottom: 30px;
    }
    
    .contacts__row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 75px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        gap: 30px;
    }

    .contact__column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .address {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        gap: 27px;
        margin-bottom: 27px;
    }
    
    .address__text {
        white-space: pre-line;
        display: inline;
    }
    
    .address__location {
        margin-bottom: 0;
    }
    
    .address__mobile {
        margin-bottom: 0;
    }
    
    .icon {
        float: left;
    } 

    .map {
        max-width: 688px;
    }
}

@media (max-width: 480px)  {
    .contacts__title {
        margin-bottom: 15px;
    }

    .contacts__row {
        margin-bottom: 63px;
        gap: 35px;
    }

    .address {
        margin-bottom: 10px;
        gap: 10px;
    }

    .address__text {
        font-size: 14px;
        line-height: 18px;
    }

    .address__image {
        width: 20px;
        height: 20px;
        margin-right: 3px;
    }

    .address__link {
        font-size: 14px;
        line-height: 18px;
    }

    .social {
        list-style: none;
        font-size: 0;
    }

    .social__item {
        margin-right: 20px;
    }

    .social__link {
        width: 30px;
        height: 30px;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        line-height: 16px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        gap: 19px;
    }

    .map {
        max-width: 280px;
        max-height: 194px;
    }
}