.header {
    padding: 30px 0 25px 0;
    position: relative;
    z-index: 100;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header__burger {
    color: #6c0287;
    border: none;
    background-color: transparent;
    display: none;
}

.header__burger:hover {
    color: #cd06ff;
}

.header__burger:focus, .header__burger:active {
    color: #840AA3;
}

.header__list {
    display: flex;
    justify-content: space-between;
}

.header__item {
    margin-right: 40px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    text-transform: uppercase;
    background: transparent;
    transition: color 0.3s ease-in;
}

.header__link:hover {
    color: #bc3cd8;
}

.header__link:active {
    color: #640aa3;
}

.header__link:focus {
    color: #cd06ff;
}

.header__button {
    outline: 3px solid #cd06ff;
    background: none;
    color: #fff;
}

.header__button:hover {
    background: #6c0287;
    outline: 3px solid #6c0287;
}

.header__button:active {
    background: #640aa3;
    outline: 1px solid #000000;
}

.header__button:focus {
    background: #6c0287;
}

.header__buttons {
    display: none;
    min-width: 54px;
}

.header__close {
    background-color: transparent;
    border: 0;
    display: none;
}

.header__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 97px;
}


@media (max-width: 1150px) {
    .header {
        padding: 30px 0 15px 0;
    }
    
    .header__logo {
        width: 87px;
        height: 55px;
    }
    
    .header__item {
        margin-right: 20px;
    }
    
    .header__link {
        font-size: 18px;
        line-height: 22px;
    }
    
    .header__button {
        border-radius: 8px;
        padding: 10px 26px 11px;
        font-size: 18px;
        line-height: 24px;
    }

    .header__box {
        gap: 79px;
    }
}


@media (max-width: 980px) {
    .header {
        padding: 32px 0 15px;
        position: relative;
        z-index: 200;
    }

    .header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    
    .header__logo {
        width: 87px;
        height: 55px;
    }

    .header__burger {
        display: block;
    }


    .header__menu {
        display: none;
        padding: 58px 0;
        background-color: #1B1A1B;
        position: absolute;
        top: 75px;
        left: 0;
        right: 0;
    }


    .header__buttons {
        display: block;
    }

}

@media (max-width: 668px) {
    .header__box {
        display: none;
    }

    .header__list  {
        padding: 0;
        gap: 26px;
        margin-bottom: 38px;
    }

    .header__button {
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 20px 0 10px 0;
    }

    .header__burger {
        width: 39px;
        height: 20px;
    }

    .header__logo {
        width: 66px;
        height: 42px;
    }

    .header__button {
        font-size: 14px;
        line-height: 22px;
        padding: 11px 23px;
    }

    .header__close {
        width: 30px;
        height: 30px;
    }

    .header__link {
        font-size: 14px;
        line-height: 22px;
    }
}